

 .cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-primaria);
    
 }

 .cabecalho a{
    text-decoration: none;
 }

 .cabecalho__menu{
    display: flex;
    align-items: center;
    padding: 0 1em;
 }

 .cabecalho__menu__hamburguer{
    width: 1.5em;
    height: 1.5em;
    background-image: url("../assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.25em;
 }

 .cabecalho__menu__logo{
    padding: 0.75em;
 }
