

 .cabecalho__menu-hambuguer{
    width: 48px;
    height: 48px;
    background-image: url("/assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
 }

 .cabecalho{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .container{
    display: flex;
    align-items: center;
 }

 .container__imagem{
    padding: 1em;
 }

 .lista-menu{
    display: none;
 }

 .container__botao:checked ~ .lista-menu{
    display: block;
 }